.App {
    margin: 100px auto 100px auto;
    width: 75%;
}

.documentImage{
    position: absolute;
}

.table{
    position: absolute;
    border-style: solid;
    border-width: 5px;
}

.startedTableDot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
}